<%= form_for @user do |f|%>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this use from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <table>
      <tr>
        <td><%= f.label :first_name %></td>
        <td><%= f.text_field :first_name %></td>
      </tr>
      <tr>
        <td><%= f.label :last_name %></td>
        <td><%= f.text_field :last_name %></td>
      </tr>
      <tr>
        <td><%= f.label :city %></td>
        <td><%= f.text_field :city %></td>
      </tr>
      <tr>
        <td><%= f.label :address %></td>
        <td><%= f.text_field :address %></td>
      </tr>
    </table>
    <%= f.submit %>

<%end%>
